body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace, sans-serif;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20% 0 0 0;
  background: linear-gradient(to right, blue, red, yellow, aqua);
}
.buttom {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, orange, yellow);
  box-shadow: 10px 10px 10px black;
  border-radius: 20px;
  transition: all 1s;
  animation: translate linear infinite 2s;
}
h1 {
  font-weight: bold;
  animation: text linear infinite 1s;
}
.buttom:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 10px 10px 10px gray;
  background: linear-gradient(
    to right,
    black,
    rgb(44, 43, 43),
    rgb(138, 138, 138)
  );
  color: white;
}
@keyframes translate {
  10% {
    transform: scale(1.1) rotatez(10deg);
  }
  50% {
    transform: scale(1.5) rotateZ(-10deg);
  }
  100% {
    transform: scale(1) rotateZ(0);
  }
}
@keyframes text {
  0% {
    opacity: 0;
    font-size: 0;
  }
  50% {
    opacity: 0.5;
    font-size: 20px;
  }
  100% {
    opacity: 1;
    font-size: 30px;
  }
}
@media (max-width: 600px) {
bady{
over-flow:hidden;
}
  .buttom {
    margin: 17%;
    width: 500px;
  }
h1{
font-size:15px;
}
}
